# Python virtual environment
.venv/
venv/

# Python cache files
__pycache__/
*.pyc

# Sensible Konfigurations- und Authentifizierungsdateien
.env
token.json
client_secrets.json
client_secrets_desktop.json # von deinen lokalen Änderungen
service_account.json

# IDE/Editor spezifische Dateien
.vscode/
.idea/
*.DS_Store

# Streamlit-spezifische lokale Dateien
.streamlit/ # Die korrekte Version vom Server