# Python virtual environment
.venv/
venv/

# Python cache files
__pycache__/
*.pyc

# Sensible Konfigurations- und Authentifizierungsdateien
.env
token.json

# IDE/Editor spezifische Dateien
.vscode/
.idea/
*.DS_Store