# Python virtual environment
.venv/
venv/

# Python cache files
__pycache__/
*.pyc

# Generierte Dateien und Logs
output/
signatures/
data/teilnehmer.csv

# Sensible Konfigurations- und Authentifizierungsdateien
.env
token.json
client_secrets.json
service_account.json

# IDE/Editor spezifische Dateien
.vscode/
.idea/
*.DS_Store